*/logs/*
*/backups/*
*/saves/*
*/crash-reports/*
*/.minecraft/config/twilightforest-common-*.toml.bak
*/cache.json

*/.minecraft/usercache.json
*/.minecraft/usernamecache.json
*/.minecraft/hotbar.nbt
*/.minecraft/servers.dat
*/.minecraft/options.txt
