.minecraft/.mixin.out
.minecraft/backups
.minecraft/crash-reports
.minecraft/hotbar.nbt
.minecraft/logs
natives/
.minecraft/options.txt
.minecraft/realms_persistence.json
.minecraft/resourcepacks
.minecraft/saves
.minecraft/schematics
.minecraft/screenshots
.minecraft/servers.dat
.minecraft/server-resource-packs
.minecraft/usercache.json
.minecraft/usernamecache.json

.minecraft/config/twilightforest-common-*.toml.bak
.minecraft/config/jei/bookmarks.ini
